*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./img/pramod-tiwari-G1WUM1cU13A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}
.card{
    width: 100%;
    max-width: 54rem;
    background-color: #fff;
    padding: 4rem 3rem 7rem;
    border-radius: 1rem;
}
.mainCard{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    gap: 1rem;
}
.header__title{
    font-weight: bold;
    font-size: 2.4rem;
    color: #1d1d1c;
}
.header__image{
    width: 5rem;
}
.input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 3rem;
    padding-left: 2rem;
    margin-bottom: 2.5rem;
}
.input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1.6rem;
}
.button{
    border: none;
    outline: none;
    padding: 1.6rem 5rem;
    background-color: #ff5945;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 4rem;
    cursor: pointer;
}
.tasks{

}
.task{
    list-style: none;
    font-size: 1.8rem;
    padding: 1.6rem .8rem 1.6rem 5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.task::before{
    content: '';
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-image: url("./img/unchecked.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 1.2rem;
    left: .8rem;
}
.completed{
    text-decoration: line-through;
    color: #555;
}
.completed::before{
    background-image: url("./img/checked.png");
}